@model CRUDCANDIDATOS.Models.ViewModels.CandidateExVM

@{
    ViewData["Title"] = "Experiencia_Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.CandidateExperiences.IDCandidateExperience == 0)
{
    <h1>Añadir Experiencia</h1>
}
else
{
    <h1>Editar Experiencia</h1>
}

<div class="row">
    <div class="col-sm-4">
        <form asp-action="Experiencia_Detalle" asp-controller="Home" method="post">
            <input type="hidden" asp-for="@Model.CandidateExperiences.IDCandidateExperience" />
            <input type="hidden" asp-for="@Model.CandidateExperiences.IDCandidate" />
            <div cite="mb-2">
                <label class="form-label" asp-for="CandidateExperiences.Company">Compañia</label>
                <input class="form-control form-control-sm" asp-for="CandidateExperiences.Company" type="text" />
            </div>
            <div cite="mb-2">
                <label class="form-label" asp-for="CandidateExperiences.Job">Puesto</label>
                <input class="form-control form-control-sm" asp-for="CandidateExperiences.Job" type="text" />
            </div>
            <div cite="mb-2">
                <label class="form-label" asp-for="CandidateExperiences.Descripcion">Descripcion</label>
                <input class="form-control form-control-sm" asp-for="CandidateExperiences.Descripcion" type="text" />
            </div>
            <div cite="mb-2">
                <label class="form-label" asp-for="CandidateExperiences.Salary">Salario</label>
                <input class="form-control form-control-sm" asp-for="CandidateExperiences.Salary" type="text" />
            </div>
                   <div cite="mb-2">
                <label class="form-label" asp-for="CandidateExperiences.BeginDate">Fec. Inicio</label>
                <input class="form-control form-control-sm" asp-for="CandidateExperiences.BeginDate" type="date" />
            </div>
            <div cite="mb-2">
                <label class="form-label" asp-for="CandidateExperiences.EndDate">Fec. Fin</label>
                <input class="form-control form-control-sm" asp-for="CandidateExperiences.EndDate" type="date" />
            </div>
            <hr />
            <div cite="mb-2">
                @if (Model.CandidateExperiences.IDCandidateExperience == 0)
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Crear</button>
                }
                else
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Actualizar</button>

                }
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Volver</a>
                <hr />
            </div>
        </form>
    </div>
</div>
